.footer {
  padding: 3.5rem 1rem 2.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
}

.animated {
  opacity: 0;
  animation-name: show;
  animation-timing-function: steps(1, end);
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  60%,
  100% {
    opacity: 1;
  }
}
