.projects {
  padding: 0 2rem;
}

.h2 {
  font-size: 2.6em;
  font-weight: 700;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  opacity: 0;
  animation-name: glitch;
  animation-timing-function: steps(1, end);
  animation-fill-mode: forwards;
}

.titleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.titleWrapper .line {
  margin: 0 30px;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  flex: 1 1 auto;
}

.columns {
  width: 100%;
  flex-wrap: wrap;
}

.column {
  margin: 24px 14px;
  width: calc(50% - 28px);
}

@media (max-width: 890px) {
  .column {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .projects {
    margin-top: 0;
    padding: 0 1rem;
  }
}

@keyframes glitch {
  0% {
    clip-path: inset(0 0% 0 0);
    background: #fff;
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    clip-path: inset(30% 0 0 0);
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
