.list > * + * {
  border-top: 2px solid rgba(255, 255, 255, 0.05);
}

.listItem {
  margin: 1.2rem 0;
  display: block;
  text-decoration: none;
}

.listItemTitle {
  font-size: 1.3rem;
}

.listItemDate {
  font-size: 1rem;
}
